
/* Step 1 */
@keyframes header-grow {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

header img {
    animation: header-grow 5s 1;
}

/* Step 2 */
body {
    font-family: 'Poppins', 'Serif';
    background-image: url("/images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* Step 3 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* Step 5 */
.nav_links a:link, a:visited {
    color: #0000FF;
}

/* Step 6 */
.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
}